header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    cursor:pointer;
}
.first-logo__item{
    height: 12px;
    width:119px;
    top:30px;
    margin-left:81px;
}
.header-wrapper{
    background-color:var(--main-color);
    align-items: center;
    display: flex;
}
.btn-sign {
    color:var(--text-color);
    background-color:var(--main-color);
    border: 1px solid #E0E0E0;
    margin:16px 0px 16px 805px;
}
.btn-register {
    color:var(--main-color);
    background-color:var(--dark-grey-color);
    border:1px var(--dark-grey-color);
    margin:16px 0px 16px 30px;
}
.basket {
    margin:16px 97px 16px 16px;
}
.basket:hover {
    fill: green;
}
/*header for desktop is finished*/
.food-photo {
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 364px;
    position: relative;
}
.mobile-photo {
    display:none
}
.square {
    position:absolute;
    background-color:var(--main-color);
    width:389px;
    height:204px;
    top:152px;
    margin-left:81px;
    box-shadow:0px 0px 16px 0px var(--rectangle-color);
    border-radius:2px;
}
.restaurant__name {
    color:var(--text-color);
    margin:38px 38px 0px 38px;
    position:absolute;
    font-weight:normal;
    font-size:36px;
    color:var(--main-text-color);
}
.europe {
    color:#626262;
    position:absolute;
    font-size:14px;
    margin:142px 179px 0px 38px;
}
.time {
    background-color:var(--dark-grey-color);
    border:1px solid var(--dark-grey-color);
    color:var(--main-color);
    position:absolute;
    border-radius:16px;
    margin:134px 32px 0px 260px;
    height:32px;
    padding:8px 16px 8px 16px;
}
.section-main__section {
    top:436px;
    cursor:pointer;
    height:80px;
    display: flex;
    background-color:var(--main-color);
    padding:32px 0px 29px 81px;
}
.nav-bar ul {
    display:flex;
    gap:40px;   
}
.nav-bar li {
    list-style:none;
    padding: 0;
}
.nav-bar li a {
    font-size:16px;
    line-height:18px;
    text-decoration:none;
    display: block;
    color:grey;
}
.menu-focus :focus {
    color:green;
}
.section-menu__item {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-row-gap: 32px;
    padding: 32px 0 80px 81px ; 
}
.snacks{
    font-size: 22px;
    line-height: 34px;    
    color:var(--main-text-color);
    font-weight: normal;
    margin:50px 0px 0px 81px;
}
.first-rectangle {
    display:none;
}
.rectangle--card {
    position: relative;
    display: flex;
    width: 600px;
    height: 180px;
    background-color:#fff;
    border:2px solid  #757575 ;
    justify-content: space-between;
    cursor: pointer;
}
.salad-name{
    position:absolute;
    font-size: 16px;
    padding: 16px 0px 0px 16px;
    font-size: 16px;
    line-height: 24px;
}
.card__ingridients{
    position:absolute;
    color: #626262;
    font-size: 13px;
    line-height: 21px;
    margin:44px 0px 0px 16px;
}
.coin{
    position:absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    position: relative;
    left: 8px;
    bottom: 16px;
    position: absolute;
}
.photo-salad {
    position:absolute;
    width: 30%;
    height: 100%;
    margin-left:420px;
}
/*the main part for desktop is finished*/
footer {
    display:flex;
    position: relative;
    background-color:var(--dark-grey-color);
    width:100vw;
    height:443px;
    top:80px;
}
.second-logo__item {
    height:19px;
    margin:56px 0px 0px 81px;
}
.thin__rectangle {
    position: absolute;;
    height:1px;
    width:85%;
    margin-top:116px;
    background-color:grey;
    left:81px;
}
.thin__rectangle-second {
    position:absolute;
    height:1px;
    width:85%;
    margin-top:337px;
    background-color:grey;
    left:81px;
}
.language-item {
    position:absolute;
    width:227px;
    height:40px;
    color:var(--main-color);
    background-color:#3B3B3B;
    border-radius:2px;
    margin-top:149px;
    left:81px;
    padding:13px 0px 12px 48px;
}
.shape {
    position:absolute;
    height:15px;
    margin-top:162px ;
    left:105px;
}
.social-logo {
    position:absolute;
    margin-top:222px;
    left:81px;
}
.first{
    margin:156px  628px 0px 405px;
}
.second {
    margin:195px 566px 0px 405px;
}
.third {
    margin:234px 549px 0px 405px;
}
.fourth {
    margin:156px 175px 261px 729px;
}
.fifth {
    margin:195px 207px 222px 729px;
}
.sixth {
    margin:234px 221px 183px 729px;
}
.seventh {
    margin:273px 217px 144px 729px;
}
.information__one{
    margin:378px 0px 0px 81px;
}
.information__two{
    margin:378px 0px 0px 462px;
}
.information__three {
    margin:378px 0px 0px 729px;
}
/*footer for desktop is finished*/
@media (max-width: 768px) {
    .first-logo__item {
        margin:16px 0px 16px 8px;
    }
    .btn-sign {
        margin:16px 0px 16px 10px;
    }
    .btn-register {
        margin:16px 0px 16px 30px;
    }
    /*header for tablet is finished*/
    .food-photo {
        width:100vw;
    }
    .square {
        width:432px;
        height:204px;
        margin-left:8px;
        top:152px;
    }
    .restaurant__name {
        margin:38px 68px 0px 48px;
    }
    .section-main__section {
        position:absolute;
        padding:32px 155px 0px 8px;
        top:436px;
    }
    hr{
        position:absolute;
        width:100vw;
        margin-top:80px;
    }
    .snacks  {
        position:absolute;
        top:500px;
        margin-left:8px;
    }
    .rectangle--card {
        position: relative;
        width:99%;
        height:160px;
        top:135px;
    }
    .coin {
        margin-left:8px;
    }
    .photo-salad {
        margin-left:552px;
    }
    .section-menu__item {
        display: grid;
        grid-template-columns: 1fr;
        padding: 32px 8px 48px 8px;
        gap:48px;
    }
    .second-logo__item {
        height:19px;
        margin:56px 0px 0px 8px;
    }
    .first , .second , .third {
        left:264px;
    }
    /*main part fot tablet is finished*/
}